.idea
charts/example
**/infrastructure/**/charts
**/applications/**/charts
!*secret*.yaml

.terraform
output

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json
!*.auto.tfvars
*.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/.DS_Store
**/*.tfplan

*.qcow2
*.raw

*.cert
*.key

*.pem
*.crt

node_modules/
package-lock.json
validation_errors.json
k8s/argocd/charts/
k8s/.env
.env
GEMINI.md
.aider*
config
