proxmox = {
  host3 = {
    name         = "host3" # Name of the Proxmox node
    cluster_name = "host3" # Must match the Proxmox cluster name
    endpoint     = "https://host3.pc-tips.se:8006"
    insecure     = false
    username     = "root"
    api_token    = "terraform@pve!name=token"
  }
nuc = {
    name         = "nuc" # Name of the Proxmox node
    cluster_name = "nuc" # Must match the Proxmox cluster name
    endpoint     = "https://nuc.pc-tips.se:8006"
    insecure     = false
    username     = "root"
    api_token    = "terraform@pve!name=token"
  }
}
