proxmox = {
  name         = "proxmox-node-1" # Name of the Proxmox node
  cluster_name = "cluster-name"   # Must match the Proxmox cluster name
  endpoint     = "https://proxmox.example.com:8006"
  insecure     = false
  username     = "root@pam"
  api_token    = "user@pve!tokenid=value"
}

# Example for proxmox_extra variable
# proxmox_extra = {
#   name         = "proxmox-node-2"
#   cluster_name = "other-cluster"
#   endpoint     = "https://other-proxmox.example.com:8006"
#   insecure     = false
#   username     = "root@pam"
#   api_token    = "user@pve!tokenid=value"
# }