proxmox = {
  name         = "host3" # Name of the Proxmox node
  cluster_name = "host3"   # Must match the Proxmox cluster name
  endpoint     = "https://host3.pc-tips.se:8006"
  insecure     = false
  username     = "root@pam"
  api_token    = "opentofu@pve!opentofu=secret"
}

# Example for proxmox_secondary variable
 proxmox_secondary = {
   name         = "nuc"
   cluster_name = "nuc"
   endpoint     = "https://nuc.pc-tips.se:8006"
   insecure     = false
   username     = "root@pam"
   api_token    = "opentofu@pve!opentofu=secret"
 }
 # The Proxmox API token format is: <username>@<realm>!<name>=<token>
