machine:
  kubelet:
    ${indent(4, kubelet)}

cluster:
  allowSchedulingOnControlPlanes: false
  coreDNS:
    disabled: true
  apiServer:
    certSANs:
      - ${vip}
      - ${node_ip}
      - ${endpoint}
    ${indent(4, api_server)}
  network:
    cni:
      name: none
    dnsDomain: kube.pc-tips.se
  proxy:
    disabled: true
  discovery:
    enabled: true
    registries:
      service:
        disabled: false
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
