machine:
  kubelet:
    clusterDNS:
      - 10.96.0.10
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
cluster:
    clusterName: kube.pc-tips.se
    network:
        dnsDomain: kube.pc-tips.se
