customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/qemu-guest-agent
      - siderolabs/iscsi-tools
      - siderolabs/util-linux-tools
%{ if needs_nvidia_extensions }
      - siderolabs/nvidia-container-toolkit-lts
      - siderolabs/nonfree-kmod-nvidia-lts
%{ endif }
